<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
  <a class="navbar-brand" href="#">CHillCalc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/camera">Camera</a>
      <a class="nav-item nav-link" href="/channels">Channels</a>
      <a class="nav-item nav-link" href="/optics">Optics</a>
      <a class="nav-item nav-link" href="/foregrounds">Foregrounds</a>
      <a class="nav-item nav-link" href="/program">Program</a>
      <a class="nav-item nav-link" href="/mapping">Run Sensitivity Calculations</a>
      <a class="nav-item nav-link" href="/display">Display Sensitivity Files</a>
    </div>
  </div>
</nav>




<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
  <a class="navbar-brand" href="#">CHillCalc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/camera">Camera</a>
      <a class="nav-item nav-link" href="/channels">Channels</a>
      <a class="nav-item nav-link" href="/optics">Optics</a>
      <a class="nav-item nav-link" href="/foregrounds">Foregrounds</a>
      <a class="nav-item nav-link" href="/program">Program</a>
      <a class="nav-item nav-link" href="/mapping">Run Sensitivity Calculations</a>
      <a class="nav-item nav-link" href="/display">Display Sensitivity Files</a>
    </div>
  </div>
</nav>