{% extends 'layout.html' %}


{% block body %}

<!-- This part is for user input, CAMERA -->
<script language="Javascript" >
function download(filename, text) {
  var pom = document.createElement('a');
  pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + 

encodeURIComponent(text));
  pom.setAttribute('download', filename);

  pom.style.display = 'none';
  document.body.appendChild(pom);

  pom.click();

  document.body.removeChild(pom);
}
</script>
</head>



<body>

<form onsubmit="download(this['name'].value, this['text'].value)">
  <input type="text" name="name" value="camera.txt">
  <textarea rows=10 cols=100 name="text">#*****Telescope-specific parameters*****
#
Parameter  | Unit | Value           |
#------------------------------------------
Optical Coupling | NA   | 1.000 +/- 0.000 |
#------------------------------------------
F Number   | NA   | 1.900 +/- 0.000 |
#------------------------------------------ 
Bath Temp        | [K]  | 0.280 +/- 0.010 | </textarea>
  <input type="submit" value="Download">
</form>
</body>


<body>

<form onsubmit="download(this['name'].value, this['text'].value)">
  <input type="text" name="name" value="channels.txt">
  <textarea rows=10 cols=300 name="text">#*****Detector channels*****
#
Band ID | Pixel ID | Band Center     | Fractional BW   | Pixel Size       | Num Det | Waist Factor    | Det Eff         | Psat            | Psat Factor     | Carrier Index   | Tc              | Tc Fraction     | Yield           | SQUID NEI       | Bolo Resistance
#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#       | NA     | [GHz]           | NA              | [mm]             | NA      | NA        | NA          | [pW]            | NA              | NA        | [K]             | NA              | NA              | [aW/rtHz]       | [Ohms]         
#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
1       | 1    | 89.30 +/- 3.000 | 0.324 +/- 0.032 | 6.789 +/- 0.000  | 3794    | 2.950 +/- 0.000 | 0.630 +/- 0.100 | 8.000 +/- 1.600 | NA              | 3.000 +/- 0.000 | 0.420 +/- 0.010 | NA              | 0.700 +/- 0.150 | 20.00 +/- 5.000 | 1.000 +/- 0.000
#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
2       | 1    | 147.8 +/- 5.000 | 0.260 +/- 0.026 | 6.789 +/- 0.000  | 3794    | 2.950 +/- 0.000 | 0.520 +/- 0.100 | 14.00 +/- 2.800 | NA              | 3.000 +/- 0.000 | 0.420 +/- 0.010 | NA              | 0.700 +/- 0.150 | 20.00 +/- 5.000 | 1.000 +/- 0.000
#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</textarea>
  <input type="submit" value="Download">
</form>
</body>

<body>

<form onsubmit="download(this['name'].value, this['text'].value)">
  <input type="text" name="name" value="opticalChain.txt">
  <textarea rows=10 cols=300 name="text">#*****Opitcal Chain*****
#
Element   | Temperature      | Absorbtion                      | Reflection                      | Thickness       | Index           | Loss Tangent    | Conductivity    | Surface Rough   | Spillover                       | Spillover Temp  | Scatter Frac                    | Scatter Temp   
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#   | [K]              | NA                              | NA                          | [mm]            | NA              | [e-4]           | [e6 S/m]        | [um RMS]        | NA                              | [K]             | NA                              | [K]            
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Primary   | 273.0 +/- 0.000  | [0.002,0.005] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA              | NA              | NA              | [0.039,0.021] +/- [0.000,0.000] | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Mirror    | 273.0 +/- 0.000  | [0.002,0.005] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA              | NA          | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Mirror    | 273.0 +/- 0.000  | [0.002,0.005] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA              | NA          | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Window    | 265.0 +/- 0.000  | [0.005,0.010] +/- [0.000,0.000] | [0.010,0.010] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA              | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader1 | 291.0 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader2 | 274.4 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader1 | 243.2 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader2 | 197.0 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
AluminaF  | 80.98 +/- 0.000  | NA                              | [0.020,0.020] +/- [0.000,0.000] | 2.000 +/- 0.000 | 3.100 +/- 0.000 | 0.500 +/- 0.000 | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader1 | 69.19 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IRShader2 | 58.96 +/- 0.000  | [0.001,0.001] +/- [0.000,0.000] | [0.000,0.000] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
AluminaF  | 40.02 +/- 0.000  | NA                              | [0.020,0.020] +/- [0.000,0.000] | 2.000 +/- 0.000 | 3.100 +/- 0.000 | 0.500 +/- 0.000 | NA    | NA            | NA                              | NA              | NA                          | NA            
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
LowPass1  | 39.30 +/- 0.000  | [0.010,0.010] +/- [0.000,0.000] | [0.050,0.050] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA        | NA                          | NA         
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Lens    | 4.500 +/- 0.000  | [0.007,0.011] +/- [0.000,0.000] | [0.006,0.006] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
LowPass1  | 4.010 +/- 0.000  | [0.010,0.010] +/- [0.000,0.000] | [0.050,0.050] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA        | NA                          | NA         
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Lens    | 1.200 +/- 0.000  | [0.007,0.011] +/- [0.000,0.000] | [0.006,0.006] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA             
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Aperture  | 1.200 +/- 0.000  | [0.763,0.593] +/- [0.000,0.000] | NA                              | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA            
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
LowPass1  | 1.000 +/- 0.000  | [0.010,0.010] +/- [0.000,0.000] | [0.050,0.050] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA        | NA                          | NA         
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
LowPass2  | 1.000 +/- 0.000  | [0.010,0.010] +/- [0.000,0.000] | [0.050,0.050] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA        | NA                          | NA         
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Lens    | 1.200 +/- 0.030  | [0.007,0.011] +/- [0.000,0.000] | [0.006,0.006] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA              | NA                          | NA    
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
LowPass1  | 0.100 +/- 0.000  | [0.010,0.010] +/- [0.000,0.000] | [0.050,0.050] +/- [0.000,0.000] | NA              | NA              | NA        | NA    | NA            | NA                              | NA        | NA                          | NA         
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</textarea>
  <input type="submit" value="Download">
</form>
</body>


{% endblock %}

